[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"

[packages]
click = "==7.0"

[dev-packages]
black = "==19.3b0"
flake8 = "==3.7.7"
tox = "==3.9.0"

[requires]
python_version = "{{ cookiecutter.python_version }}"
